@import 'materialize';
@import 'ember-cli-materialize';

.tags-item {
	background-color:green !important;
}

.tags-list li {
	margin:5px;
}

.tags-list li a {
	display:inline-block;
	/*color:white;*/
	text-transform:uppercase;
	letter-spacing:1.5px;
	transition: .3s ease-in;
}

.tags-list li a:hover {
	text-decoration:none;
	color:orange;
}

.list-inline {
	display:inline-block;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -2px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-perfil {
  width:38px;
  height:38px;
  border-radius:50%;
}

.ember-cli-g-map {
    height: 300px;
}

.preloader-wrapper {
  display:block;
  margin:0 auto;
}

.card-title {
  line-height:25px !important;
  font-size:18px !important;
  // color: #ccc !important;
}

.card-user-image {
  border-radius: 50%;
  width:38px;
  height: 38px;
}

.btn-ler-mais {
  margin:5px 0;
}

.footer-paginate { width: 100%; overflow: hidden; text-align:center;}
.footer-paginate ul { list-style: none; display:inline-block; }
.footer-paginate ul li { display:inline; }










