<footer class='page-footer light-blue white-text'>
    {{#md-copyright text='Secretaria de Comunicação do Estado do Pará @ SECOM'
        startYear=2016
        class='light-blue darken-2 white-text'}}
        <a class="white-text right" href="#!">
          More Links
        </a>
    {{/md-copyright}}
</footer>