{{#md-navbar name='e-pautas' class='indigo' homeRoute='home'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'home' tagName='li'}}
    {{!-- {{link-to 'Home'}} --}}
    <a href=""><i class="mdi-action-home"></i></a>
  {{/link-to}}
  {{#link-to 'login' tagName='li'}}
    {{!-- {{link-to 'Login'}} --}}
    <a href=""><i class="mdi-action-account-circle"></i></a>
  {{/link-to}}
  {{!-- {{#link-to 'tags' tagName='li'}}
    {{link-to 'Tags'}}
  {{/link-to}}
  {{#link-to 'search' tagName='li'}}
    <a href=""><i class="mdi-action-search"></i></a>
  {{/link-to}} --}}
{{/md-navbar}}